.contact-photo, .selected-contact-photo {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.contacts-container, .selected-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.selected-contacts-container {
    flex-wrap: wrap; 
    max-width: 600px; 
    width: 100%; 
    margin: 0 auto;

}

.selected-contacts-container {
    flex-direction: row;
    justify-content: center;
}

.contact-div, .selected-contact-div {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    border-radius: 10% 10% 10% 10% / 30% 30% 30% 30%;
}

.selected-contact-div {
    padding: 0;
    flex: 0 1 20%; /* Allow items to grow, but limit to a percentage of the width */

}

.contact-div:hover {
    background-color: rgba(0,0,0,0.1);
}

.contact-name, .selected-contact-name {
    min-width: 8em;
    display: flex;
    font-size: large;
}

.selected-contact-name {
    min-width: 5em;
}

.checkbox, .checkbox-highlighted {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1.5px solid var(--default-colour)
}

.checkbox {
    background-color: whitesmoke;
}

.checkbox-highlighted {
    background-color: var(--default-colour-green); /* Green background */
}

.group-message-form {
    user-select: none;
    display: grid;
    align-items: center;
    position: relative;
    gap: 2em;
    background-color: var(--default-colour-light);
    border-radius: 2%;
    padding: 1em;
}

.group-message-body {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.add-contact-btn-container {
    display: flex;
    justify-content: space-between;
}

.add-contact-btn {
    background-color: var(--default-colour-soft-green);
}

.direct-message-btn {
    background-color: var(--default-colour-soft-purple);
    color: whitesmoke;
}

.next-btn, .create-btn {
    background-color: var(--default-colour-green);
}

.cancel-btn, .back-btn {
    background-color: var(--default-colour-light-2);
}

.cancel-btn {
    font-weight: bold;
    width: 64.38px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 1em;
}

.group-name-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.group-name-input {
    font-size: 1em;
}

.group-name {
    font-size: 1.2em;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
    padding-bottom: 1em;
}

.cancel-btn, .next-btn {
    height: 100%;
}

.error {
    color: var(--error-red-colour);
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: translateY(-10px);
    margin: 0;
    font-weight: 600;
}

.error.show {
opacity: 1;
transform: translateY(0);
}

.error.photo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-60%);
}

.error.general-name{
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-60%);
}