.chat-body {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--default-colour-light);
    gap: 2em;
    padding: 1em;
}

.user-chat, .responder-chat {
    border-radius: 10%;
    padding: 0.25em 1em
}

.user-chat-container {
 display: flex;
 justify-content: flex-end;
}

.user-chat {
  background-color: var(--default-colour-soft-green);
}

.responder-chat-container {
    display: flex;
    justify-content: flex-start;
}

.responder-chat {
    background-color: var(--default-colour-soft-purple);
    color: whitesmoke;
}

.chat-photo {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.chat-header {
    margin-bottom: 0.5em;
    min-height: 75.81px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.chat-profile-container {
    display: flex;
    user-select: none;
}

.chat-name {
    margin: 0;
}

.profile-info {
    font-size: small;
    margin: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Adjust duration and easing as needed */
}

.profile-info.fade-out {
    opacity: 0;
}

.chat-name-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}

.chat-root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.message-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: whitesmoke;
}