.chat-body {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--default-colour-light);
    gap: 2em;
    padding: 2em;
    position: relative;
    overflow: overlay;
}

.user-chat, .responder-chat {
    padding: 0.25em 1em;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    position: relative;
}

.user-chat-container {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.user-chat {
    border-radius: 10% 10% 0 10% / 30% 30% 0 30%;
    background-color: var(--default-colour-soft-green);
}

.responder-chat-container {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.responder-chat {
    background-color: var(--default-colour-soft-purple);
    color: whitesmoke;
    border-radius: 10% 10% 10% 0 / 30% 30% 30% 0;
}

.chat-photo {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.chat-header {
    margin-bottom: 0.5em;
    min-height: 75.81px;
    display: flex;
    align-items: center;
    gap: 1em;
}

.chat-profile-container {
    display: flex;
    user-select: none;
}

.chat-name {
    margin: 0;
}

.profile-info {
    font-size: small;
    margin: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out; /* Adjust duration and easing as needed */
}

.profile-info.fade-out {
    opacity: 0;
}

.chat-name-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.chat-root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.message-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: whitesmoke;
    align-items: center;
}

.message-box, .update-message-box {
    resize: none;
    border: none;
    margin: 0;
    box-shadow: none;
    z-index: 1;
}

.update-message-box:focus {
    box-shadow: none
}

.message-box:focus {
    box-shadow: 0px 1px 6px 1px rgba(27, 30, 68, 0.6);
}

.message-box::-webkit-scrollbar, .update-message-box::-webkit-scrollbar {
    background-color: transparent; /* Hidden by default */
}

.user-photo, .recipient-photo {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.user-photo-container {
    display: flex;
    align-items: flex-end;
}

.send-btn {
    color: var(--default-colour-green);
    height: 100%;
}

.send-btn-container, .attach-btn-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.attach-btn {
    color: var(--default-colour-blue);
    height: 100%;
}

.send-btn:hover, .update-message-btn:hover {
    border: 2px solid var(--default-colour-soft-green);
}

.attach-btn:hover, .edit-btn:hover {
    border: 2px solid var(--default-colour-soft-blue);
}

.update-delete-container {
    position: absolute;
    
}

.update-delete-container.invisible {
    display: none;
    position: absolute;
}

.update-delete-container.visible {
    transform: translate(-100%, -100%);
    display: grid;
    z-index: 1;
}

.edit-btn, .delete-btn, .update-message-btn, .cancel-message-btn {
    border: 2px solid transparent;
}

.delete-btn:hover {
    border: 2px solid rgba(232, 38, 38, 0.674);
}

.update-message-form {
    display: flex;
    align-items: center;
}

.cancel-message-btn, .update-message-btn {
    height: fit-content;
    width: fit-content;
    background-color: var(--default-colour-light);
}

.cancel-message-btn:hover {
    border: 2px solid var(--default-colour-light-2);
}

.responder-message-timestamp, .user-message-timestamp {
    position: absolute;
    color: rgba(128, 128, 128, 0.815);
    font-size: small;
    top: 100%;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.responder-message-timestamp {
    left: 0%;
}

.user-message-timestamp {
    right: 0%;
}

.user-chat:hover .user-message-timestamp,
.responder-chat:hover .responder-message-timestamp {
    opacity: 1;
    visibility: visible;
}

.chat-body::-webkit-scrollbar {
    visibility: hidden;
}