.message-logo {
    width: 8em;
}

.navbar-body {
    background-color: var(--default-colour-light-2);
    display: grid;
    grid-template-columns: auto 1fr;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
}

.profile-links {
    display: flex;
    gap: 5em;
}