.userprofile-body {
    background-color: var(--default-colour-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-colour);
}

.userprofile-flexbox {
    user-select: none;
    display: grid;
    justify-items: center;
}

.username-container, .bio-container, .user-photo-container {
    position: relative;
}

.edit-logo {
    height: 1em;
    color: var(--default-colour);
    position: absolute;
    right: calc(0px - 2em);
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.edit-logo-photo {
    height: 3em;
    color: var(--default-colour);
    position: absolute;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user-photo-container:hover .user-photo {
    filter: grayscale(100%);
}

.user-photo-container:hover .edit-logo-photo {
    opacity: 1;
}

.user-photo {
    width: 20em;
}

.edit-photo-container { 
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.photo-upload-body.profile {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

}

.photo-icon.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.profile-container {
    display: grid;
}

.btns-container {
    width: 100%;
    display: grid;
    gap: 3.5em;
}

.edit-btns-container {
    display: flex;
    justify-content: space-between;
}

.cancel-edit {
    background-color: var(--default-colour-light-2);
}

.save-edit {
    background-color: var(--default-colour-soft-green);
}

.delete-profile {
    background-color: rgb(218, 65, 65);
}