@import url('/src/global.css');
  .login-form-container {
    background-color: var(--default-colour-light);
    border-radius: 8%;
    padding: 0 1.5em 1.5em 1.5em;
    border: 2px solid var(--default-colour);
  }
  
  .login-form-container .title {
    color: var(--default-colour);
  }

    /*  CANNOT ACCESS GLOBAL VARIABLES IN A CSS MODULE FILE.
    CREATED ComponentGlobalOverride and imported after global.css to alter styles to global.css
    #root {
      padding: 0;
    }
      */
  
  .login-form-container form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5em;
    align-items: center;
  }
  
  .btn-container {
    display: flex;
    gap: 1em;
  }
  
  .login-btn {
    background-color: rgba(55,207,185,255);
  }
  
  .signup-btn {
    background-color: rgba(200,136,235,255)
  }

  .login-body {
    background-image: url('../LogIn/messagingIcon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--default-colour-light-2);
  }

  .error.log-in {
    margin: 0;
    font-weight: bold;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
  }

  .title-div {
    position: relative;
  }